* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.App {
  background: #23252C;
  color: #DCDCDC;
  display: flex;
  flex-direction: column;
  width: 20rem;
  overflow: hidden;
  margin: 1em auto;
  border-radius: 15px;    
}

/* INFO */
.info--section {
  padding: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info--text {
  font-size: .8rem;
  margin-top: .3rem;    
}
.info--img {
  width: 20rem;
}
.info--btn--container {
     margin-top: 1.5em;
     display: flex;
     width: 80%;
     align-items: center;
     justify-content: space-between;
}
.info--btn {
  padding: 7px 18px;
  border-radius: 5px;
  border: none;
  display: flex;
  /* font-size: 12px; */
}
.fa--info {
  margin-right: 10px;
}
.one {
  color: #1E1F26;
  background: #D1D5DB;
}
.two {
  background: #5093E2;
  color: #FFFFFF;
}

/* About  + Interests + Footer  */
.About, .Interests, .Footer {
  padding: 1em 2em;
  width: 100%
}

.section--head  {
  font-size: 1.2rem;
}
.section--text {
  margin-top: .3rem;
  font-size: .7rem;
  line-height: 16px;
}

/* Footer */

.Footer .fa-brands {
  margin: 7px 0;
  font-size: 2em; 
  color:  #918E9B  ; 
}
.footer--icons {
  justify-content: space-between;
  display: flex;
  width: 60%;
  margin-inline: auto;
}
.fa-linkedin {
  font-size: 18px !important ;
}